# Specify the required Python version (optional, replace X.Y.Z with your desired version)


# Packages without specific versions
adal
argcomplete
attrs
beautifulsoup4
brotli
build
cachetools
cfgv
charset-normalizer
click
cloudpickle
configargparse
contextlib2
cryptography
distlib
distro
docker
exceptiongroup
filelock
flask
flask-basicauth
flask-cors
fusepy
gdown
gevent
geventhttpclient
google-api-core
google-auth
googleapis-common-protos
greenlet
gunicorn
humanfriendly
identify
idna
imageio
importlib-metadata
importlib-resources
inference-schema
iniconfig
isodate
itsdangerous
jeepney
jinja2
jmespath
jsonpickle
jsonschema
knack
locust
markupsafe
msal
msal-extensions
msgpack
msrest
msrestazure
ndg-httpsclient
nodeenv
oauthlib
onnxruntime
opencensus
opencensus-context
opencensus-ext-azure
packaging
paramiko
pathspec
pillow
pip-tools
pkginfo
pkgutil-resolve-name
platformdirs
pluggy
portalocker
pre-commit
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pygments
pyjwt
pynacl
pyopenssl
pyparsing
pyproject-hooks
pyrsistent
pysocks
pytest
python-dateutil
pytz
pyyaml
pyzmq
requests
requests-oauthlib
roundrobin
rsa
scipy
secretstorage
sewar
six
soupsieve
tabulate
tomli
tqdm
typing-extensions
urllib3
virtualenv
websocket-client
werkzeug
wheel
wrapt
zipp
zope-event
zope-interface
